@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-fc: rgb(53, 53, 53);
}

body {
  min-height: 100vh;
  width: 100%;
  color: black;
  font-family: "Nunito", sans-serif;
  background: hsl(0, 0%, 95%);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

input,
button {
  border: none;
  outline: none;
  font: inherit;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
  color: black;
}

/* -----header----- */
.header {
  width: 87%;
  margin-inline: auto;
  border: 0.1px solid hsl(15, 100%, 45%);
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  margin-block-start: 2rem;
  border-radius: 100vmax;
  padding: 0.6em;
  color: black;
  /*   background: hsl(15, 100%, 60%, 0.3);
 */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100vmax;
  padding: 0.4em 0.8em;
}

.menu:hover {
  background: hsl(15, 100%, 70%);
  transition: background 100ms ease;
}

.opacity {
  opacity: 80%;
  font-weight: 700;
}

.menu .fa-bars {
  cursor: pointer;
  margin-inline-end: 0.3em;
}

.logo {
  height: 40px;
}

.mos__logo {
  object-fit: contain;
}

.admin {
  border: 1px solid hsl(15, 100%, 45%);
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  text-align: center;
  cursor: pointer;
  transition: background 100ms ease;
}

.admin:hover {
  background: hsl(15, 100%, 70%);
}
.admin i {
  font-size: 1rem;
}

/* ---------------- */

/* ------home section------ */
.home {
  margin-block-start: 1.5rem;
  width: 87%;
  height: fit-content;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 2.5fr 1fr 1fr 1fr 3fr;
  place-content: center;
  gap: 1.5rem;
}

@media (max-width: 1102px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}

.grid__item {
  border: 0.7px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.grid__item:nth-child(1) {
  grid-column: 1/4;
  background: hsl(48, 100%, 80%);
  grid-row: 1/3;
}

.grid__item:nth-child(2) {
  grid-column: span 2;
  grid-row: 1 / span 4;
  background: hsl(240, 100%, 80%);
}

.grid__item:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 3;
  background: hsl(288, 100%, 80%);
}

.grid__item:nth-child(4) {
  grid-row: 3 / span 3;
  background: hsl(390, 100%, 80%);
  grid-column: span 2;
}

.grid__item:nth-child(5) {
  grid-column: span 2;
  background: hsl(120, 100%, 80%);
}

.title {
  font-weight: 900;
  font-size: 2rem;
  color: var(--base-fc);
  letter-spacing: 1px;
  word-spacing: 10px;
  line-height: 1.1;
  text-align: center;
  max-width: 90%;
  margin-inline: auto;
}

.home__img {
  max-width: 50px;
}

.main__paragraph {
  max-width: 90%;
  text-align: center;
  margin-inline: auto;
  opacity: 90%;
  font-size: 1rem;
}

.find-mos {
  border-radius: 100vmax;
  background: hsl(120, 100%, 50%);
  padding: 0.5em 1.4em;
  font: inherit;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  border: 0.7px solid rgba(0, 0, 0, 0.1);
  transition: background-color 100ms ease-in-out;
}

.find-mos:hover {
  background: hsl(120, 100%, 60%);
  color: rgba(0, 0, 0, 1);
}

.order-btn {
  border: 0.7px solid rgba(0, 0, 0, 0.1);
  transition: opacity 100ms ease-in;
  background: hsl(270, 100%, 65%);
}

.order-btn:hover {
  opacity: 0.9;
}

/* ----------------------- */

/* ----order section---- */
.order__section {
  margin-block: 1.5rem;
}

.wrapper {
  max-width: 87%;
  margin-inline: auto;
  border: 1px solid red;
  border-radius: 1rem;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  max-height: 80vh;
  overflow-y: scroll;
  padding-inline-end: 1rem;
  width: 70%;
}

/* ----food card------ */

.food__card {
  border-radius: 1rem;
  padding: 1em 1.4em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.food__card .card__img {
  width: 90px;
  margin-inline: auto;
  margin-block-end: 1rem;
}

.card__title {
  color: var(--base-fc);
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}

.card__price {
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 1.5rem;
}

.card__description {
  margin-block: 0.5rem;
  color: black;
  opacity: 80%;
  font-weight: 500;
}

.card__btn {
  margin-inline: auto;
  margin-block-start: 0.7rem;
  border-radius: 100vmax;
  padding: 0.3em 0.8em;
  font-weight: bolder;
  color: white;
  background: hsl(30, 100%, 45%);
  width: 75%;
  transition: filter 200ms ease;
}

.card__btn:hover {
  filter: brightness(1.1);
}

.cart__container {
  border: 1px solid red;
  border-radius: 1rem;
  height: fit-content;
  padding: 1em;
  width: 30%;
}

@media (max-width: 1092px) {
  .cart__container {
    width: 60%;
  }
}

@media (max-width: 802px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .card__container {
    width: 100%;
  }
  .cart__container {
    width: 100%;
  }
}

/* ------------------- */
.renderHome {
  background: transparent;
}
/* ------------------- */
