@import url("admin.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-fc: rgb(53, 53, 53);
}

body {
  min-height: 100vh;
  width: 100%;
  color: black;
  font-family: "Nunito", sans-serif;
  background: hsl(0, 0%, 95%);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

input,
button {
  border: none;
  outline: none;
  font: inherit;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
  color: black;
}

/* -----header----- */
.header {
  width: 87%;
  margin-inline: auto;
  border: 0.1px solid hsl(15, 100%, 45%);
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  margin-block-start: 1.5rem;
  border-radius: 100vmax;
  padding: 0.6em;
  color: black;
  /*   background: hsl(15, 100%, 60%, 0.3);
 */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100vmax;
  padding: 0.4em 0.8em;
}

.menu:hover {
  background: hsl(15, 100%, 70%);
  transition: background 100ms ease;
}

.opacity {
  opacity: 80%;
  font-weight: 700;
}

.menu .fa-bars {
  cursor: pointer;
  margin-inline-end: 0.3em;
}

.logo {
  height: 40px;
}

.mos__logo {
  object-fit: contain;
}

.admin {
  border: 1px solid hsl(15, 100%, 45%);
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  text-align: center;
  cursor: pointer;
  transition: background 100ms ease;
}

.admin:hover {
  background: hsl(15, 100%, 70%);
}
.admin i {
  font-size: 1rem;
}

/* ---------------- */

/* ------home section------ */
.home {
  margin-block: 1.5rem;
  width: 87%;
  height: 82vh;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 2.5fr 1fr 1fr 1fr 3fr;
  gap: 1.5rem;
}

@media (max-width: 1102px) {
  .home {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .grid__item {
    padding: 1rem;
  }
}

.grid__item {
  border-radius: 2.5rem;
}

.grid__item:nth-child(1) {
  grid-column: 1/4;
  background: hsl(48, 100%, 80%);
  grid-row: 1/3;
}

.grid__item:nth-child(2) {
  grid-column: span 2;
  grid-row: 1 / span 4;
  background: hsl(240, 100%, 80%);
}

.grid__item:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 3;
  background: hsl(288, 100%, 80%);
}

.grid__item:nth-child(4) {
  grid-row: 3 / span 3;
  background: hsl(390, 100%, 80%);
  grid-column: span 2;
}

.grid__item:nth-child(5) {
  grid-column: span 2;
  background: hsl(120, 100%, 80%);
}

.title {
  font-weight: 900;
  font-size: 2rem;
  color: var(--base-fc);
  letter-spacing: 1px;
  word-spacing: 10px;
  line-height: 1.1;
  text-align: center;
  max-width: 90%;
  margin-inline: auto;
}

.home__img {
  max-width: 50px;
}

.main__paragraph {
  max-width: 90%;
  text-align: center;
  margin-inline: auto;
  opacity: 90%;
  font-size: 1rem;
}

.find-mos {
  border-radius: 100vmax;
  background: hsl(120, 100%, 50%);
  padding: 0.5em 1.4em;
  font: inherit;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  border: 0.7px solid rgba(0, 0, 0, 0.1);
  transition: background-color 100ms ease-in-out;
}

.find-mos:hover {
  background: hsl(120, 100%, 60%);
  color: rgba(0, 0, 0, 1);
}

.order-btn {
  border: 0.7px solid rgba(0, 0, 0, 0.1);
  transition: opacity 100ms ease-in;
  background: hsl(270, 100%, 65%);
}

.order-btn:hover {
  opacity: 0.9;
}

/* ----------------------- */

/* ----order section---- */
.order__section {
  margin-block: 1.5rem;
  max-width: 87%;
  margin-inline: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1rem;
}

.customer {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  height: 50px;
}

.plus__bg {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  background: hsl(30, 100%, 55%);
  cursor: pointer;
  font-size: 0.7rem !important;
}

.plus__bg i {
  pointer-events: none;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
  max-height: 80vh;
  overflow-y: scroll;
}

.search__food {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-block-end: 1rem;
}

.searchFoodBtn {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.8em 1em;
  border-radius: 1rem;
  font-weight: bolder;
  background: white;
}

/* ----food card------ */

.food__card {
  border-radius: 1rem;
  padding: 1em 1.4em;
  background: white;
  max-height: 370px !important;
}

.box-shadow {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.food__card .card__img {
  height: 110px;
  width: auto;
  margin-inline: auto;
  margin-block-end: 1rem;
}

.card__img img {
  object-fit: contain;
}

.card__title {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}

.card__price {
  font-weight: bolder;
  color: rgba(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
}

.card__description {
  margin-block: 0.5rem;
  color: hsl(0, 0%, 40%);
  font-weight: 500;
}

.card__btn {
  margin-inline: auto;
  margin-block-start: 0.7rem;
  border-radius: 100vmax;
  padding: 0.3em 0.8em;
  font-weight: bolder;
  color: white;
  background: hsl(30, 100%, 55%);
  width: 75%;
  transition: filter 200ms ease;
}

.card__btn:hover {
  filter: brightness(1.1);
}

.cart__container {
  border-radius: 1rem;
  background: white;
  height: 400px;
  padding: 1em;
  margin-block-start: 1rem;
  position: relative;
}

.cart__wrapper {
  height: 250px;
  padding: 1em;
  overflow-y: auto;
}

.confirm--order {
  background: transparent;
  font-weight: bolder;
  margin-inline: auto;
  background: hsl(30, 100%, 55%);
  color: white;
  padding: 0.3em 0.6em;
  border-radius: 100vmax;
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 92%;
}

@media (max-width: 1092px) {
  .cart__container {
    width: 100%;
  }
}

@media (max-width: 802px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .card__container {
    width: 100%;
  }
  .cart__container {
    width: 100%;
  }
}

/* ------------------- */
.renderHome {
  background: transparent;
}
/* ------------------- */

.item-name {
  margin-top: 0.5rem;
}

/* ---selected item---- */
.selected__item {
  margin-top: 1rem;
  width: fit-content;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  position: relative;
}

@media (max-width: 400px) {
  .selected__item {
    grid-template-columns: 1.5fr 2fr;
  }
}

.selected__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: hsl(0, 0%, 86%);
  bottom: -5px;
}

.x-bg {
  margin-inline: 0.3rem;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
}

/* ------------------- */

/* increment and decrement buttons  */
.increment__btn,
.decrement__btn {
  background: transparent;
  font-size: 1rem;
  background: hsl(30, 100%, 60%);
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.empty-cart-img {
  height: 130px;
  width: 130px;
  filter: drop-shadow(5px 5px 10px 10px black);
}

.increment__btn > i,
.decrement__btn > i {
  padding: 0;
  pointer-events: none;
}

/* -------------------------------- */

/* search customer */
.divider {
  width: 300px;
  position: relative;
  border-radius: 100vmax;
  overflow: hidden;
}
h6 {
  margin: 0;
}
.searchCustomerBtn {
  background: hsl(30, 100%, 60%);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-inline: 1rem;
  transition: background 100ms ease;
}

.customerCard {
  width: fit-content;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  cursor: pointer;
  transition: background 100ms ease-in;
}
.customerCard:hover {
  background: hsl(0, 0%, 100%, 0.2);
}

.customerBtn {
  background: transparent;
}

/* -----------------*/

/* add customer form */

.addCustomer {
  border-radius: 1rem;
  padding: 1rem;
  background: white;
}

.addCustomerForm > * {
  margin-top: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.3rem;
}

.inpFld {
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.submitBtn {
  background: hsl(30, 100%, 60%);
  font: inherit;
  font-weight: bold;
  margin-inline: auto;
  transition: background 100ms ease;
}

.default:hover {
  background: hsl(30, 100%, 66%);
}

/* ---------------- */

/* back button */
.backBtn {
  background: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: background 100ms ease;
}
/* ---------- */

/* food icon  */
.foodIconImg {
  width: 40px;
  height: 40px;
  pointer-events: none;
}
/*  */
.fs-8 {
  font-size: 0.7rem;
}
